.card{
    max-width:100%;
    height: 472px;
    background: #1B262F;

    display: flex;
    justify-content: space-around;
}
.card__one{
    margin-top: 100px;
}
.card__h2{
    max-width: 445px;
    width: 100%;
    height: 56px;

    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    
    letter-spacing: -0.369231px;
    
    color: #FBFCFE;   
}
.card__title{
    max-width: 445px;
    width: 100%;
    height: 112px;

    font-family: 'Public Sans-1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    
    color: #FBFCFE;
    
    mix-blend-mode: normal;
    opacity: 0.7;
}
.card__btn{
    border: 1px solid #FBFCFE;
    border-radius: 24px;
    padding: 16px 32px;
    background: #1B262F;
    color: #fff;
    margin-top: 22px;

    &:active{
        color: #000;
        background-color: #fff;
    }
}
.card__two{
    max-width: 536px;
    width: 100%;
    height: 103px;
    margin-top: 185px;

}
.card__compress{
    display: flex;
    gap: 50px;
}
.card__img{
    display: none;
}
.card__compress__two{
    margin-top: 50px;
    display: flex;
    gap: 75px;
}
@media only screen and (max-width:920px) {
    .card{
        max-width: 100%;
        height: 615px;

        flex-direction: column-reverse;
    }
    .card__two{
        margin: 0 auto;
        margin-top: 93px;
    }
    .card__compress__two{
        margin: 50px auto;
        justify-content: center;
    }
    .card__one{
        margin: 0 auto;
    }
    .card__h2{
       text-align: center;
    }
    .card__title{
        text-align: center;
    }
    .card__btn{
      margin: 60px 160px;
    }
}
@media only screen and (max-width:530px) {
    .card{
        max-width: 100%;
        height: 675px;
    }
    .card__two{
        display: flex;
        justify-content: space-around;
        margin: 50px auto;
    }
    .card__compress{
       flex-direction: column;
       gap: 67px;
       margin-top: -40px;

       margin-left: 60px;
    }
    .card__compress__two{
        flex-direction: column;
        margin-top: 70px;
        gap: 67px;
    }
    .card__h2{
        max-width: 327px;
        width: 100%;
        height:36px;

        font-size: 32px;
        line-height: 36px;
        margin: 20px auto;
        
        text-align: center;
        letter-spacing: -0.246154px;
    }
    .card__title{
        max-width: 327px;
        width: 100%;
        height: 140px;

        margin: 0 auto;
    }
    
}
@media only screen and (max-width:384px) {
    .card{
        max-width: 100%;
    }
    .card img{
        width: 100px;
    }
    .card__two{
        margin: 0 auto;
    }
    .card__compress__two{
        margin-top: 55px;
        gap: 63px;
    }
    .card__h2{
        font-size: 34px;
        text-align: center;
        margin-top: 0px;
    }
    .card__title{
        max-width: 250px;
        width: 100%;
        height: 100px;

        font-size: 15px;
        line-height: 18px;

    }
    .card__btn{
        margin: 70px 100px;
        text-align: center;
    }
      
}
