@font-face {
    font-family: 'RobotoMono';
    src: url("../../fonts/Roboto_Mono/RobotoMono-Regular.ttf");
 }

@font-face {
    font-family: 'DMSerifDisplay';
    src: url("../../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf");
 }
 
 @font-face {
    font-family: 'PublicSans-1';
    src: url("../../fonts/Public_Sans/PublicSans-Regular.ttf");
 }
 
 @font-face {
    font-family: 'PublicSans-2';
    src: url("../../fonts/Public_Sans/PublicSans-Bold.ttf");
 }
 
 