*{
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: #EDF3F8;
    $font1:'PublicSans-1';
    $font2:'PublicSans-2';

    // overflow-x: hidden;

}
.container{
    max-width: 1200px;
    width: 100%;

    margin:  0 auto;
}